{% extends 'base.html' %}
{% block content %}
{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $("button.modal-close").click(function(){
        $("div.modal").toggleClass("is-active");
    });
});
</script>
<script>
$(document).ready(function(){
    $("div.modal-background").click(function(){
        $("div.modal").toggleClass("is-active");
    });
});
</script>
<script>
$(document).ready(function(){
    $("a.button.is-danger").click(function(){
        $("div.modal").toggleClass("is-active");
    });
});
</script>
<section class="section">
 <div class="hero-body">
 	
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-one-third">
          <p class="title">
            Welcome Back {{ user.username }}
          </p>
          <p class="subtitle">
            Time to add some <strong>habits!</strong>
          </p>
          <div class="modal">
  <div class="modal-background"></div>
  <div class="modal-container">
    <div class="modal-content">
      <div class="box">
      <!-- Any other Bulma elements you want -->
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}
<form method="post" action="/add_habit/">
{% csrf_token %}

<label class="label">Habit</label>
<p class="control has-icon has-icon-right">
  <input class="input" type="text" name="habit_name" id="habit_name">
</p>

<label class="label">Habit Description</label>
<p class="control has-icon has-icon-right">
   <input class="input" type="text" name="habit_desc" id="habit_desc">
</p>

<label class="label">Habit Frequency (number)</label>
<p class="control has-icon has-icon-right">
   <input class="input" type="number" name="habit_freq" id="habit_freq">
</p>

<p class="control">
<button class="button is-primary" value="login" />Add Habit</button>
<input type="hidden" name="next" value="{{ next }}" />
</p>
</form>
</div>
    </div>
  </div>
  <button class="modal-close"></button>
</div>
        </div>
        <div class="column is-1">
          <a class="button is-danger">Add Habit</a>
        </div>
        <div class="column">
          {% if habs %}
          {% for h in habs %}
          <div class="box">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src="http://placehold.it/128x128" alt="Image">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>{{ h.habit }}</strong> <small>{{ h.habit_freq }} times per week</small>.<small>Current streak:{{ h.habit_streak }}</small>
          <br>
          {{ h.habit_desc }}
        </p>
      </div>
      <nav class="level">
        <div class="level-left">
          <a class="level-item">
            <span class="icon is-small"><i class="fa fa-reply"></i></span>
          </a>
          <a class="level-item">
            <span class="icon is-small"><i class="fa fa-retweet"></i></span>
          </a>
          <a href="/del_habit/?habit={{ h.id }}" class="level-item">
            <span class="icon is-small"><i class="fa fa-trash" aria-hidden="true"></i></span>
          </a>
        </div>
      </nav>
    </div>
  </article>
</div>
          {% endfor %}
          {% else %}
          {% endif %}
        </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}